---
import { Card, Heading, Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'

// Imports images...
import postImage1 from '@assets/images/posts/post-image-1.png'
import postImage2 from '@assets/images/posts/post-image-2.png'
import postImage3 from '@assets/images/posts/post-image-3.png'

interface Props {
  class?: string
  limit?: number
  title?: string
}

const { class: className, limit = 3, title = 'Technical Insights & Analysis' } = Astro.props

const posts = await getCollection('blog')
const postImages = [postImage1, postImage2, postImage3]

const featuredPosts = posts
  .sort((a, b) => new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf())
  .slice(0, limit)
  .map((post, index) => ({
    ...post,
    featuredImage: postImages[index % postImages.length],
  }))
---

<section class:list={[className, 'py-12 md:py-16']}>
  <div class="container">
    <div class="mb-12">
      <Heading level="h2" class="mb-4 text-center md:text-left">{title}</Heading>
      <p class="text-xl text-gray-600 dark:text-gray-300 text-center md:text-left max-w-2xl">
        Exploring the intersection of XR, Accessibility, and AI. <br class="hidden md:block" />
        My breakdown of interesting papers, tech demos, and design challenges.
      </p>
    </div>

    <!-- GRID -->
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
      {
        featuredPosts.map((post) => (
          <div class="transition-transform duration-300 motion-safe:hover:-translate-y-2 motion-safe:hover:shadow-2xl motion-safe:focus-within:-translate-y-2 motion-safe:focus-within:shadow-2xl rounded-2xl">            <Card
              imageComponent={post.featuredImage}
              url={'/blog/' + post.id}
              headingLevel="h3"
              title={post.data.title}
              footer={'Posted: ' + post.data.publishDate.toISOString().slice(0, 10)}
            >
              {post.data.description}
            </Card>
          </div>
        ))
      }
    </div>

    <div class="mt-12">
      <Link href="/blog/" isButton animateOnHover animationType="nudge">
        Read all papers
        <Icon aria-hidden="true" name="lucide:arrow-right" size="1.5rem" />
      </Link>
    </div>
  </div>
</section>